:root {
    --primary-color: #ff0946;
    --secondary-color: #1d222e;
    --tertiary-color: #2b3344;
    --dark-color: #151820;
    --light-color: #F5F5F5;
    --text-font: "Montserrat";
    --title-font: "Montserrat";
    --primary-color-translucent: rgba(255,9,70,0.2);
}

html {
    background-color: var(--dark-color);
    overflow-x: hidden;
}

body {
    background-color: var(--dark-color);
    font-family: var(--text-font);
    font-size: 18px;
}

.top-padding {
    padding: 3vh;
}

.top-padding-small {
    padding: 1.5vh;
}

.btn-custom {
    display: inline-block;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3em;
    transition: 0.5s;
    width: 100px;
    text-align: center;
    margin: 10px;
}

.btn-custom:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5s;
}

.btn-custom:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: 0.1s;
}

.btn-custom-disabled {
    display: inline-block;
    background-color: var(--secondary-color);
    border-color: var(--primary-color-translucent) !important;
    color: var(--primary-color-translucent) !important;
    border: 2px solid var(--primary-color-translucent) !important;
    transition: 0.5s;
    width: 100px;
}

.btn-custom-disabled:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color-translucent) !important;
    color: var(--primary-color-translucent) !important;
    border: 2px solid var(--primary-color-translucent) !important;
}

.btn-custom-disabled:active {
    transform: scale(1) !important;
}

.navbar-custom {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.navbar-custom a {
    color: var(--light-color);
    transition: 0.3s;
}

.navbar-custom a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.bi-add-image {
    color: var(--primary-color);
    padding: 20px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid var(--primary-color)
}

.bi-add-image:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5s
}

.bi-add-image:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    transition: 0.1s;
}

.dark-title {
    color: var(--dark-color);
}

.upload-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 80vh;
    width: 80%;
    margin-top: 10px;
}

input[type="file"] {
    display: none !important;
    line-height: 0;
    font-size: 0;
}

.bi-arrow-right {
    font-size: 25px;
}

.bi-arrow-left {
    font-size: 25px;
}

.op-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 80vh;
}

.img-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 90vh;
}

.list-group-item {
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 15px;
}

.navbar-footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
    margin-top: 5vh;
    text-align: center;
    height: 12vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright-text {
    font-size: 14px;
    margin-top: 6vh;
}

.sidenav a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.sidebar-close-icon {
    position: relative;
    font-size: 22px;
    color: var(--primary-color);
    transition: 0.3s;
    margin-left: 12px;
}

.sidebar-close-icon:hover {
    color: var(--light-color);
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .navbar {height: 50px;}
}

.sidebar-icon:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.sidebar-icon {
    font-size: 32px;
    color: var(--secondary-color);
    margin-right: 15px;
    transition: 0.3s;
}

.sidenav {
    height: 100%;
    left: -250px;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 70px;
    transition: 0.5s;
}

.sidenav a {
    font-family: var(--title-font);
    padding: 8px, 8px, 8px, 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--light-color);
    display: block;
    transition: 0.3s;
    position: relative;
}

.sidebar-option {
    color: var(--light-color);
    padding-left: 30px;
    transition: 0.3s;
}

.sidebar-option:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.button-transparent,  .button-transparent:focus, .button-transparent:active, .button-transparent.active, .open>.dropdown-toggle.button-transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none !important; 
    cursor:pointer;
    overflow: hidden;
    outline:none !important;
    box-shadow: none; 
    padding: 0;
}

.selected-image {
    width: 75%;
}