:root {
    --primary-color: #ff0946;
    --secondary-color: #1d222e;
    --tertiary-color: #2b3344;
    --dark-color: #151820;
    --light-color: #F5F5F5;
    --text-font: "Montserrat";
    --title-font: "Montserrat";
    --primary-color-translucent: rgba(255,9,70,0.2);
}

html {
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

body {
    background-color: var(--dark-color);
    font-family: var(--text-font);
    font-size: 18px;
}

.top-padding {
    padding: 3vh;
}

.top-padding-small {
    padding: 1.5vh;
}

.side-padding {
    padding: 0.5vh;
}

.btn-custom-circle {
    display: inline-block;
    background-color: var(--dark-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3em;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.btn-custom-circle-sidebar {
    display: inline-block;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3em;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.btn-custom-circle-lg {
    display: inline-block;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3em;
    transition: 0.5s;
    width: 80px;
    height: 80px;
    text-align: center;
}

.btn-custom {
    display: inline-block;
    background-color: var(--dark-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3em;
    transition: 0.5s;
    width: 100px;
    text-align: center;
    margin: 10px;
}

.btn-custom:hover, .btn-custom-circle:hover, .btn-custom-circle-lg:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5s;
}

.btn-custom:active, .btn-custom-circle:active, .btn-custom-circle-lg:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: 0.1s;
}

.btn-custom-disabled {
    display: inline-block;
    background-color: var(--secondary-color);
    border-color: var(--primary-color-translucent) !important;
    color: var(--primary-color-translucent) !important;
    border: 2px solid var(--primary-color-translucent) !important;
    transition: 0.5s;
    width: 100px;
}

.btn-custom-disabled:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color-translucent) !important;
    color: var(--primary-color-translucent) !important;
    border: 2px solid var(--primary-color-translucent) !important;
}

.btn-custom-disabled:active {
    transform: scale(1) !important;
}

.navbar-custom {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.navbar-custom a {
    color: var(--light-color);
    transition: 0.3s;
}

.navbar-custom a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.bi-add-image {
    color: var(--primary-color);
    padding: 20px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid var(--primary-color)
}

.bi-add-image:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5s
}

.bi-add-image:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    transition: 0.1s;
}
.primary-title {
    font-size: 25px;
    color: var(--primary-color);
}

.secondary-title {
    font-size: 25px;
    color: var(--secondary-color);
}

.light-title {
    font-size: 25px;
    color: var(--light-color);
}

.dark-title {
    color: var(--dark-color);
}

.upload-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 80vh;
    width: 80%;
    margin-top: 10px;
}

input[type="file"] {
    display: none !important;
    line-height: 0;
    font-size: 0;
}

.bi-arrow-right {
    font-size: 25px;
}

.bi-arrow-left {
    font-size: 25px;
}

.bi-download {
    font-size: 25px;
    vertical-align: middle;
}

.bi-upload {
    font-size: 30px;
    vertical-align: baseline;
}

.bi-check {
    font-size: 25px;
}

.sidebar-icon {
    font-size: 24px;
    vertical-align: middle;
}

.sidebar-close-icon {
    font-size: 20px;
    vertical-align: middle;
}

.op-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 80vh;
}

.img-card {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.sidebar-card {
    color: var(--light-color);
    background-color: var(--tertiary-color);
    border-radius: 15px;
    height: 100px;
    width: 188px;
}

.navbar-footer {
    font-family: var(--title-font);
    background-color: var(--secondary-color);
    color: var(--light-color);
    margin-bottom: -20px;
    margin-top: 10px;
    text-align: center;
}

.copyright-text {
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    color: var(--light-color);
}

.feedback-text {
    font-size: 16px;
    transition: 0.5s;
    text-decoration: none;
    color: var(--light-color);
}

.feedback-text:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.sidenav a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.submit-form {
    background-color: var(--secondary-color);
}

.submit-back {
    background-color: var(--secondary-color);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .navbar {height: 50px;}
}

.sidenav {
    height: 100%;
    left: 0px;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.sidenav a {
    font-family: var(--title-font);
    padding: 8px, 8px, 8px, 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--light-color);
    display: block;
    transition: 0.5s;
    position: relative;
}

.sidebar-option {
    color: var(--light-color);
    padding-left: 30px;
    transition: 0.5s;
}

.sidebar-option:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.btn-transparent,  .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .open>.dropdown-toggle.btn-transparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none !important; 
    cursor:pointer;
    overflow: hidden;
    outline:none !important;
    box-shadow: none; 
    padding: 0;
}

.selected-image {
    width: 100%;
}

.canvas-image {
    padding: 50px;
}

label {
    display: inline-block;
    vertical-align: baseline;
    line-height: 2.4 !important;
}

.sidebar-close {
    position: relative;
    left: 128px;
}

.sidebar-title {
    padding: 8px;
    align-self: center;
    font-size: 20px;
}

.sidebar-range {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.sidebar-range,  .sidebar-range:hover, .sidebar-range:active  {
    background: var(--tertiary-color);
    align-self: center;
    width: 150px;
}

.sidebar-range::-webkit-slider-thumb,  .sidebar-range:hover::-webkit-slider-thumb, .sidebar-range:active::-webkit-slider-thumb, .sidebar-range:focus::-webkit-slider-thumb {
    background: var(--primary-color);
    box-shadow: none;
}

.sidebar-range::-webkit-slider-runnable-track,  .sidebar-range::-webkit-slider-runnable-track:hover, .sidebar-range::-webkit-slider-runnable-track:active, .sidebar-range::-webkit-slider-runnable-track:focus {
    background: var(--secondary-color);
}

.sidebar-slider {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.sidebar-slider,  .sidebar-slider:hover, .sidebar-slider:active  {
    background: var(--tertiary-color);
    align-self: center;
    width: 30px;
}

.sidebar-slider::-webkit-slider-thumb,  .sidebar-slider:hover::-webkit-slider-thumb, .sidebar-slider:active::-webkit-slider-thumb, .sidebar-slider:focus::-webkit-slider-thumb {
    background: var(--primary-color);
    box-shadow: none;
    margin-top: 1.3px;
    width: 18px;
    height: 18px;
}

.sidebar-slider::-webkit-slider-runnable-track,  .sidebar-slider::-webkit-slider-runnable-track:hover, .sidebar-slider::-webkit-slider-runnable-track:active, .sidebar-slider::-webkit-slider-runnable-track:focus {
    background: var(--secondary-color);
    height: 20px;
}

.textinput, .emailinput {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    border: none;
    box-shadow: none;
    border-radius: 3em;
}

.textarea {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    border: none;
    box-shadow: none;
    border-radius: 1.5em;
}

.textinput:active, .emailinput:active, .textarea:active, .textinput:focus, .emailinput:focus, .textarea:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

input[type="text"] {
    outline: none;
}

input[type="email"] {
    outline: none;
}

input {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    width: 350px;
    height: 225px;
    outline: none;
    resize: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.alert.alert-success {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.slider-card {
    cursor: pointer;
}

.switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 40px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--secondary-color);
    bottom: 8px;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: -8px;
    border-radius: 34px;
  }
  
  .slider:before {
    background-color: var(--primary-color);
    bottom: 4px;
    content: "";
    top: 1px;
    height: 20px;
    left: 2px;
    border-radius: 50%;
    position: absolute;
    width: 20px;
  }
  
  input[value="1"] + .slider:before {
    transform: translateX(18px);
  }