{% extends "base.html" %}
{% block content %}

<body>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 text-center my-auto">
            <div class="container card upload-card align-items-center justify-content-center">
                <div class="top-padding"></div>
                <div class="top-padding"></div>
                <form method="post" enctype="multipart/form-data" id="image-form">
                    {% csrf_token %}
                    <label for="id_image" class="btn-custom-circle-lg" ><i for="id_image" class="bi-upload" onclick="resetScroll();"></i></label>
                    <input type="file" name="image" accept="image/*" onchange="getFilename(); autoSubmit('image-form');" id="id_image">
                    <div class="top-padding"></div>
                    <h3 class="light-title mt-2" id="upload-text">Upload</h3>
                    <div class="top-padding"></div>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock content %}